.typing-animation {
  font-size: 2rem;
  font-weight: bold;
  color: #667eea;
  min-height: 3rem;
  display: flex;
  align-items: center;
}

.typed-text {
  margin-right: 5px;
}

.cursor {
  animation: blink 1s infinite;
  font-weight: normal;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
